<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatting</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
     <link rel="stylesheet" href="chatStyle.css"> 
</head>
<body>
    {{>navbar}}
        
    <div style='margin:2%'> 
        hello,{{username}}
        <div>
            <form action="/user/chat" method="GET">
                <input class='searchInput' type="text" name='searchUser' placeholder="search user to chat..">
                <button class='searchBtn' type="submit">search</button>		 
            </form> 
            <input type="hidden" value='{{username}}'id='username'>  
        </div>
		<div id='notification' ></div>
        <div class='dropdown'>
            <button  class='addbutton' style="width:auto;">recieved messages</button>
            <div class="dropdown-content" style="left:0;" id='waitingMsg'>
                {{#if unseenChats}}
                {{#each unseenChats}}
                    <div  class='unseenMsg'id='{{this.sender}}'> 
						<a href='/user/chat/?searchUser={{this.sender}}'  onclick='return deleteUnseen("{{this.sender}}");'>
							<p class='chatUserHead' >{{this.sender}}</p>
							<input type='hidden' value='{{this.sender}}' name='senderUser' id='senderUser'>
							<p id='uMsg{{this.sender}}'> {{this.unseenMessage}}<p>
							<div><small id='uMsgTime{{this.sender}}'>{{this.date}}</small></div>
						</a>
						<hr width="100%" style='border:1px solid black;opacity:0.5'>
                    </div>
                {{/each}}
                {{else}}
                <div class='unseenMsg'id='noMsg'>
                    <p>No Unseen Message</p>
                </div>  
                {{/if}}
            </div>
        </div>
    </div>

    {{!-- chat front --}}
    		  	
			
     {{#if chatWith}} 
		<div class=" h-100">
			<div class="row justify-content-center h-100" id='nopadding' style='margin-left:0px;margin-right:0px;'>
				<div class="  col-md-8 col-xl-6 col-sm-12 chat " >
					<div class="card" id='nopadding'>
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont rounded-circle user_img" style='background-image:url("/user/uploads/{{chatterImg}}")'>
									{{#if onlineStatus}}
									<span class="online_icon"></span>
									{{else}}
									<span class="offline_icon"></span>
									{{/if}}
								</div>
								<div class="user_info">
									<span>Chat with {{chatWith}}</span>
									<input type="hidden" value='{{chatWith}}' id='chatUser'>
									{{!-- <p>1767 messages</p> --}}
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i><a class='prof' href="/user/dashboard/search?searchUser={{chatWith}}">View profile</a></li>
								    <li onclick='deleteForm.submit()'>
										<form id='deleteForm' action="/user/chat/deleteChat" method="post">
										   <i class="fas fa-trash"></i>Delete Chat</li>
										   <input type="hidden" name='chatWith' value='{{chatWith}}'>										
										</form>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body" id='chat_messages'>
							
							  {{#each message}}
								{{#if this.recieve}}
									<div class="d-flex justify-content-start mb-4">
										<div class="msg_cotainer">
											{{this.recieve}}
											<span class="msg_time"  style='min-width:30vw' >{{this.date}}</span>
										</div>
									</div>
								{{else}}
									<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send" >
										{{this.sent}}
										  <span class=" msg_time_send"  style='min-width:30vw; text-align:right;'>{{this.date}}</span>
									</div>
									</div>
								{{/if}}	
							  {{/each}}
							  <div id='last'></div>	
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea name="" class="form-control type_msg" id='send_msg' placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn" id='msg_btn'><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{else}}
		<div style='text-align:center; margin:20%'>
			<h1 class='mobile'>SELECT USER TO CHAT</h1>
		</div>
	   {{/if}}	 

 <script src="socketClient.js"></script>
</body>
</html>