<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
    <style>
      .divsize{
        height:40%;
      }
      
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
   {{>navbar}} 
   
  <div style='margin:2%'>
    <br>  
    <div class='row section-top ' style=" margin-left: 0px;">
       <div class='size col-md-3 col-xs-4 col-lg-3 item nopadding'  style="max-width:30%;">
           <img src='./uploads/{{image}}' alt="{{username}}"  id='profilepic'onclick="document.getElementById('changeProfilePic').style.display='block'">
       </div>
       <div class='col-md-3 col-xs-8 col-lg-3 nopadding item' style="font-family:'Segoe UI';max-width:70%;font-size:1.5em;font-size: xx-large;font-weight: 700;color:white;">
          hello,{{username}}
       </div>
       <div class='col-md-6 col-xs-12 col-lg-6 nopadding item' style='margin-top:1%;margin-buttom:1%text-align:center;'>
         <div class='section-inside'>
           <div class='dropdown'>
             <button  class='addbutton' style="width:auto;">edit Profile</button>
             <div class="dropdown-content" style="left:0;">
              <a onclick='return show(changeProfilePic.id)' href="#changeProfilePic">change profile Pic</a> 
              <a onclick='return show(changeProfile.id)' href="#changeProfile">add wall image</a>
              <a  onclick='return show(changePass.id)' href='#changePass'>change password</a>
             </div>
            </div>
           <div>
             <button onclick="document.getElementById('addimgdiv').style.display='block'" class='addbutton' style="width:auto;">Add Image</button>
           </div>
           <div>
             <form action="/user/chat" method="GET" >
               <button type='submit' class='addbutton' style="width:auto;">chat</button>
             </form>
           </div> 
          
         </div>
       </div>
    </div>
    <br>
  
  </div>
   
  <div id="changeProfilePic" class="addImgModal">
   <form class="modal-content-form animate" action='/user/dashboard' method='POST' id="form" enctype="multipart/form-data"  >
    <div class="imgcontainer">
      <span onclick="document.getElementById('changeProfilePic').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="./uploads/{{image}}" alt="{{image}}" class="avatar">
    </div>
    <div class="containeraddimage">
      <label><b>Select Image</b></label>
      <input type="file" name='profilePic' id="image" required>
      <button type="submit" class='addbutton'>Change Profile Pic</button>
    </div>
     <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('changeProfilePic').style.display='none'" class="addbutton cancelbtn">Cancel</button>
     </div>
    </form>
  </div>

  
  <div id="changeProfile" class="addImgModal">
   <form class="modal-content-form animate" action='/user/dashboard/edit' method='POST' id="form" enctype="multipart/form-data"  >
    <div class="imgcontainer">
      <span onclick="document.getElementById('changeProfile').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="./uploads/{{image}}" alt="{{image}}" class="avatar">
    </div>
    <div class="containeraddimage">
      <label><b>Select Wall(visible to viewer)</b></label>
      <input type="file" name='wallPic' id="image" required>
      <button type="submit" class='addbutton'>Save Changes</button>
    </div>
     <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('changeProfile').style.display='none'" class="addbutton cancelbtn">Cancel</button>
     </div>
    </form>
  </div>

  
  <div id="changePass" class="addImgModal">
   <form class="modal-content-form animate" action='/user/dashboard/changePassword' method='POST' id="form"   >
    <div class="imgcontainer">
      <span onclick="document.getElementById('changePass').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="./uploads/{{image}}" alt="{{image}}" class="avatar">
    </div>
    <div class="containeraddimage">
      <label><b>New Password</b></label>
      <input type="password" name='newPass' id="newPass" required>
      <label><b>Confirm New Password</b></label>
      <input type="password" name='cNewPass' id="cNewPass" required>
      <label><b>Old Password</b></label>
      <input type="password" name='oldPass' id="oldPass" required>
      <button type="submit" class='addbutton'>Change password</button>
    </div>
     <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('changePass').style.display='none'" class="addbutton cancelbtn">Cancel</button>
     </div>
    </form>
   </div>

   <div id="addimgdiv" class="addImgModal">
      <form class="modal-content-form animate" action='/user/dashboard/addImage' method='POST' id="form" enctype="multipart/form-data"  >
        <div class="imgcontainer">
          <span onclick="document.getElementById('addimgdiv').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="./uploads/{{image}}" alt="{{image}}" class="avatar">
        </div>

        <div class="containeraddimage">
          <label><b>Select Image</b></label>
          <input type="file" name='Uimages' id="image" required>
          <label ><b>Description</b></label>
          <input type="text" placeholder="Enter description" name="description" id='description' required>
          <input type="hidden" value='{{username}}' name="username" >
          <button type="submit" class='addbutton'>Add Image</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('addimgdiv').style.display='none'" class="addbutton cancelbtn">Cancel</button>
        </div>
      </form>
    </div>

    <ul class="flex-container">
      {{#if username}}
        {{#if imagesArr}}
          {{#each imagesArr}}
          <li class='flex-item'>
            <a href="./wall/viewImage?userWall={{../username}}&image={{this.image}}&description={{this.description}}">
              <div class='size' style='background-image:url("./uploads/{{this.image}}")'>
                <img src="null.png" alt="" class='size' style="height:100%; width:100%;">
              </div>
            </a> 
            <details style="color: chocolate">
                <summary>description</summary>
                <p> {{this.description}}</p>
              </details>
              <form action="/user/dashboard/deleteImage" method="POST">
                <input type="hidden" value='{{this.image}}' name='image'>
                <button type="submit" style='width: 100%;  padding: 1px 2px;  margin: 3px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;'>Delete</button>
              </form>
          </li>          
          {{/each}}
        {{/if}}
       {{/if}}
    </ul>
<script>
  // Get the modal
  var modal = document.getElementById('addimagediv');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
  
  function show(val){
    console.log('fun hai yaha',val)
    document.getElementById(val).style.display='block'
    return true
  }
</script>
</body>
</html>

