<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeShare | Dashboard</title>
    <style>
      .divsize{
        height:40%;
      }
      
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
   {{>navbar}} 
   
  <div style='margin:2%'>  
    <div class='row section-top ' style=" margin-left: 0px;">
       <div class='size col-md-3 col-xs-4 col-lg-3 item nopadding'  style="max-width:30%;">
         <div id='profilepic' style='background-image:url("{{image}}")' onclick="document.getElementById('changeProfilePic').style.display='block'">
                <img src="null.png" alt="" id='profilepic' style="height:100%; width:100%;">
          </div>
       </div>
       <div class='col-md-3 col-xs-8 col-lg-3 nopadding item' style="font-family:'Segoe UI';max-width:70%;font-size:1.5em;font-size: xx-large;font-weight: 700;color:white;">
          hello,{{username}}
          <input type="hidden" id="username" value="{{username}}">
       </div>
       <div class='col-md-6 col-xs-12 col-lg-6 nopadding item' style='margin-top:1%;margin-buttom:1%text-align:center;'>
         <div class='section-inside'>
           <div class='dropdown'style="float:right;">
              <form action="/user/friends" method="GET" >
                 <button type='submit' class='addbutton menuBtn' style="width:auto;">friends</button>
              </form>
            </div> 
           <div class='dropdown'>
             <button  class='addbutton menuBtn' style="width:auto;">edit Profile</button>
             <div class="dropdown-content" style="left:0;">
              <a onclick='return show(changeProfilePic.id)' href="#changeProfilePic">change profile Pic</a> 
              <a onclick='return show(changeProfile.id)' href="#changeProfile">add wall image</a>
             </div>
            </div>
           <div>
             <button onclick="document.getElementById('addimgdiv').style.display='block'" class='addbutton menuBtn' style="width:auto;">Add Image</button>
           </div>
           <div>
             <form action="/user/chat" method="GET" >
               <button type='submit' class='addbutton menuBtn' style="width:auto;">chat</button>
             </form>
           </div> 
         </div>
       </div>
    </div>
    <br>
  </div>

   {{!-- change profile pic --}}
   <div id="changeProfilePic" class="addImgModal">
    <div class="modal-content-form animate"  >
      <div class="imgcontainer">
        <span onclick="document.getElementById('changeProfilePic').style.display='none'" class="close" title="Close Modal">&times;</span>
        <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
        </div>
      </div>
      <div class="containeraddimage">
        <label><b>Change profile Pic</b></label>
        <form  action="/user/dashboard" method='POST' id="form" enctype="multipart/form-data" onsubmit='return uploadPicture("uploadImage")'>
          <input type="file" name='uploadImage' id="uploadImage" required>
          <button type="submit" class='addbutton'>Change Image</button>
        </form>
      </div>
     <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('changeProfilePic').style.display='none'" class="addbutton cancelbtn">Cancel</button>
     </div>
    </div>
  </div>

  {{!-- change wall background --}}
  <div id="changeProfile" class="addImgModal">
   <form class="modal-content-form animate" action='/user/dashboard/edit' method='POST' id="form" enctype="multipart/form-data"  onsubmit='return uploadPicture("wallImage")'>
    <div class="imgcontainer">
      <span onclick="document.getElementById('changeProfile').style.display='none'" class="close" title="Close Modal">&times;</span>
      <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
       </div>
    </div>
    <div class="containeraddimage">
      <label><b>Select Wall(visible to viewer)</b></label>
      <input type="file" name='wallPic' id="wallImage" required>
      <button type="submit" class='addbutton'>Save Changes</button>
    </div>
     <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('changeProfile').style.display='none'" class="addbutton cancelbtn">Cancel</button>
     </div>
    </form>
  </div>

   {{!-- add image  --}}
   <div id="addimgdiv" class="addImgModal">
      <form class="modal-content-form animate" action='/user/dashboard/addImage' method='POST' id="form" enctype="multipart/form-data"  onsubmit='return uploadPicture("uImages")' >
        <div class="imgcontainer">
          <span onclick="document.getElementById('addimgdiv').style.display='none'" class="close" title="Close Modal">&times;</span>
           <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
       </div>
        </div>
        <div class="containeraddimage">
          <label><b>Select Image</b></label>
          <input type="file" name='uImages' id="uImages" required>
          <label ><b>caption</b></label>
          <input type="text" placeholder="Enter caption" name="description" id='description' required>
          <input type="hidden" value='{{username}}' name="username" >
          <button type="submit" class='addbutton'>Add Image</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('addimgdiv').style.display='none'" class="addbutton cancelbtn">Cancel</button>
        </div>
      </form>
    </div>

    <ul class="flex-container">
      {{#if username}}
        {{#if imagesArr}}
          {{#each imagesArr}}
          <li class='flex-item' style='order:{{@index}}'>
            <a href="./wall/viewImage?userWall={{../username}}&image={{this.image}}&description={{this.description}}">
              <div class='sizeImg' style='background-image:url("{{this.image}}")'>
                <img src="null.png" alt="" class='sizeImg' style="height:100%; width:100%;">
              </div>
            </a> 
            <details style="color: chocolate">
                <summary>caption</summary>
                <p> {{this.description}}</p>
              </details>
              <form action="/user/dashboard/deleteImage" method="POST" onsubmit='return ask_confirm()'>
                <input type="hidden" value='{{this.image}}' name='image' >
                <button type="submit" style='width: 100%;  padding: 1px 2px;  margin: 3px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;'>Delete</button>
              </form>
          </li>          
          {{/each}}
        {{/if}}
       {{/if}}
    </ul>
    <p id="timeSpent"></p>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='dashboardScript.js'></script>
<script src="heartbeat.js"></script>
<script src="time.js"></script>
</body>
</html>

