<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
    <style>
      .divsize{
        height:40%;
      }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   {{>navbar}} 
  <div style='margin:2.5%'>
     hello,{{user.username}}
    <a href="/user/chat">go to chatting</a>
    <br><br>
    <img src='{{user.image}}' alt="{{user.username}}" id='profilepic'>
    <br><br>
  
<button onclick="document.getElementById('addimgdiv').style.display='block'" class='addbutton' style="width:auto;">Add Image</button>

  </div>
   <div id="addimgdiv" class="addImgModal">
   <form class="modal-content-form animate" action='/user/dashboard/addImage' method='POST' id="form" enctype="multipart/form-data"  >
    <div class="imgcontainer">
      <span onclick="document.getElementById('addimgdiv').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="{{user.image}}" alt="{{user.image}}" class="avatar">
    </div>
    <div class="containeraddimage">
      <label><b>Select Image</b></label>
      <input type="file" name='Uimages' id="image" required>
      <label ><b>Description</b></label>
      <input type="text" placeholder="Enter description" name="description" id='description' required>
       <input type="hidden" value='{{user.username}}' name="username" >
      <button type="submit" class='addbutton'>Add Image</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('addimgdiv').style.display='none'" class="addbutton cancelbtn">Cancel</button>
    </div>
  </form>
</div>

    <ul class="flex-container">
     {{#if user.username}}
     {{#if imagesArr}}
       {{#each imagesArr}}
       <li class='flex-item'>
          <a href="./wallviewImage?username={{../username}}&image={{this.image}}&description={{this.description}}">
            <div class='size' style='background-image:url("{{this.image}}")'>
              <img src="null.png" alt="" class='size' style="height:100%; width:100%;">
            </div>
          </a> 
          <details style="color: chocolate">
              <summary>description</summary>
              <p> {{this.description}}</p>
            </details>
           <form action="/user/dashboard/deleteImage?image={{user.image}}" method="get">
              <button type="submit" style='width: 100%;  padding: 1px 2px;  margin: 3px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;'>Delete</button>
            </form>
            
        </li>
          
       {{/each}}
      {{/if}}    
      {{/if}}
    </ul>
<script>
// Get the modal
var modal = document.getElementById('addimagediv');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>


<!--
  
    <form action='/user/dashboard/addImage' method='POST' id="form" enctype="multipart/form-data"  > 
        <div class="col-xs-12">
          select photo: <input type="file" name="Uimages" id="image" required />
        </div>
        <div class="col-xs-12">
         description: <input type="text" name="description" id="description" required />
        </div>
        <input id="submit" class="button" type="submit" value="submit"/>
    </form>
    
-->