<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeShare | Dashboard</title>
    <style>
      .divsize{
        height:40%;
      }
      
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="removeloading.js"></script>
    <link rel="stylesheet" href="loading.css">
</head>
<body>
  <input type="hidden" id="username" value="{{username}}">

  {{!-- side Bar menu  --}}
  <div id="mySidebar" class="animateMenu">
    {{!-- user image --}}
    <div class="imgcontainer">
      <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' ></div>
    </div>
    {{!-- username --}}
    <div style="font-family:'Segoe UI';font-size:1.5em;font-size: xx-large;font-weight: 700;color:rgb(0, 0, 0)">
      {{username}}
    </div>
    {{!-- user options --}}
    <div class='nopadding' style='width:100%;text-align:center;'>
      <div>
        <div>
          <button class='menuOption dropdown'>edit Profile</button>
          <div class="dropdown-content">
            <div onclick='return show(changeProfilePic.id)' href="#changeProfilePic">change profile Pic</div> 
            <div onclick='return show(changeProfile.id)'  href="#changeProfile">add wall image</div>
          </div>
        </div>

        <div style="float:right;" class="menuOption" onclick="document.getElementById('addimgdiv').style.display='block'">
          Post Images
        </div> 

        <form action="/user/friends" method="GET" >
          <button style="float:right;" class="menuOption">
            Friends
          </button> 
        </form>
        
        <form action="/user/chat" method="GET" >
          <button style="float:right;" class="menuOption">
            Messages
          </button> 
        </form>
      </div>
    </div>
  </div>

  {{!-- Main body of the page --}}
  <div  id="main">
    {{>navbar}} 
    {{!-- loading modal --}}
    <div class="loadingModal" id='loadModal'>
      <div class=" animate"  >
        <span class="loader" id='load_screen'>
          <span class="loader-inner"></span>
        </span>
        <div id='cload' style='color:crimson'>
          <strong>loading</strong>
        </div>
      </div>
    </div>

  {{!-- sidebar button --}}
  <button  onclick="handleSideBar()" id='openMenuBtn'>
    <
  </button>
  
  {{!-- user's wall box --}}
  <div class="wallBox">  
    {{!-- User's Wall Pic box --}}
    <div style="width: 100%;height:80%;" class="wallBox-item">
      <div class="bg" style=' background-image: url("{{wallPic}}");'>
        <div class="wallBox-item-btn" style="position: relative; top:70%;left:80%; z-index: 1;justify-content: center;align-items: flex-end;">
          <button onclick='return show(changeProfile.id)' type="button" class="sendMsg" style="background-color:white ;color:black;font-weight:bold">+ wall image</button>
        </div>
      </div>
    </div> 
    {{!-- profile Box --}}
    <div class="wallBox-item userProfile">
      {{!-- profile pic --}}
      <div 
        id='profilepicbg' 
        style='background-image:url("{{image}}")' 
        onclick="return show(changeProfilePic.id)">
      </div>  
      {{!-- user name --}}
      <div class="userWallName">
        <br><br> {{username}}
      </div>
    </div>
  </div>

  {{!-- images posted by user --}}
  <ul class="flex-container">
    {{#if imagesArr}}
      {{#each imagesArr}}
        <li class='flex-item' style='order:{{@index}}'>
          <a href="./wall/viewImage?userWall={{../username}}&image={{this.image}}&description={{this.description}}">
            <div class='sizeImg' style='background-image:url("{{this.image}}")'>
              <img src="null.png" alt="" class='sizeImg' style="height:100%; width:100%;">
            </div>
          </a> 
          <details style="color: chocolate">
            <summary>caption</summary>
            <p> {{this.description}}</p>
          </details>
          <form action="/user/dashboard/deleteImage" method="POST" onsubmit='return ask_confirm()'>
            <input type="hidden" value='{{this.image}}' name='image' >
            <button type="submit" style='width: 100%;  padding: 1px 2px;  margin: 3px 0;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;'>Delete</button>
          </form>
        </li>          
      {{/each}}
      {{else}}
        <li class='flex-item'>You Don't have any Post Yet</li>
      {{/if}}
    </ul>
  </div> 

   {{!-- change profile pic --}}
   <div id="changeProfilePic" class="addImgModal">
    <div class="modal-content-form animate"  >
      <div class="imgcontainer">
        <span onclick="document.getElementById('changeProfilePic').style.display='none'" class="close" title="Close Modal">&times;</span>
        <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
        </div>
      </div>
      <div class="containeraddimage">
        <label><b>Change profile Pic</b></label>
        <form  action="/user/dashboard" method='POST' id="form" enctype="multipart/form-data" onsubmit='return uploadPicture("uploadImage","changeProfilePic")'>
          <input type="file" name='uploadImage' id="uploadImage" required>
          <button type="submit" class='addbutton'>Change Image</button>
        </form>
      </div>
     <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('changeProfilePic').style.display='none'" class="addbutton cancelbtn">Cancel</button>
     </div>
    </div>
  </div>

  {{!-- change wall background --}}
  <div id="changeProfile" class="addImgModal">
   <form class="modal-content-form animate" action='/user/dashboard/edit' method='POST' id="form" enctype="multipart/form-data"  onsubmit='return uploadPicture("wallImage","changeProfile")'>
    <div class="imgcontainer">
      <span onclick="document.getElementById('changeProfile').style.display='none'" class="close" title="Close Modal">&times;</span>
      <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
       </div>
    </div>
    <div class="containeraddimage">
      <label><b>Select Wall(visible to viewer)</b></label>
      <input type="file" name='wallPic' id="wallImage" required>
      <button type="submit" class='addbutton'>Save Changes</button>
    </div>
     <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('changeProfile').style.display='none'" class="addbutton cancelbtn">Cancel</button>
     </div>
    </form>
  </div>

   {{!-- add image  --}}
   <div id="addimgdiv" class="addImgModal">
      <form class="modal-content-form animate" action='/user/dashboard/addImage' method='POST' id="form" enctype="multipart/form-data"  onsubmit='return uploadPicture("uImages","addimgdiv")' >
        <div class="imgcontainer">
          <span onclick="document.getElementById('addimgdiv').style.display='none'" class="close" title="Close Modal">&times;</span>
           <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
       </div>
        </div>
        <div class="containeraddimage">
          <label><b>Select Image</b></label>
          <input type="file" name='uImages' id="uImages" required>
          <label ><b>caption</b></label>
          <input type="text" placeholder="Enter caption" name="description" id='description' required>
          <input type="hidden" value='{{username}}' name="username" >
          <button type="submit" class='addbutton'>Add Image</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('addimgdiv').style.display='none'" class="addbutton cancelbtn">Cancel</button>
        </div>
      </form>
    </div>
    <p id="timeSpent"></p>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='dashboardScript.js'></script>
<script src="heartbeat.js"></script>
<script src="time.js"></script>
</body>
</html>

