<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeShare | friends</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="friendsCSS.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="removeloading.js"></script>
    <link rel="stylesheet" href="loading.css">
</head>
<body>
     {{>navbar}}
      <div class="loadingModal" id='loadModal'>
      <div class=" animate"  >
        <span class="loader" id='load_screen'><span class="loader-inner"></span></span><div id='cload' style='color:crimson'> <strong>loading </strong></div>
      </div>
    </div> 
     <div style="margin:1%"> 
       <input type="hidden" id="username" value="{{username}}">
         <h3><strong>FRIENDS</strong> </h3>  
           <div class='dropdown' style='margin:2%'>
             <button  class='addbutton' style="width:auto;">Requests Recieved</button>
             <div class="dropdown-content" id='drop' style="left:0;padding:1%">
               {{#if requestsRec}}
                {{#each requestsRec}}
                <div style="position: relative;" id='{{this.username}}'>
                  <a href="#">
                    <div  style='border-bottom:1px solid black'>
                      <details style="color: chocolate">
                        <summary>
                          <div style='' >
                              <div class="user_img" style=' background-image: url("{{this.profilePic}}");height:50px;width:50px;max-height:50px;max-width:50px;'></div>
                              <div style='display:inline-block;'>{{this.username}} </div> 
                          </div>
                        </summary>
                        <p> 
                          <button class="sbtn" onclick='javascript:document.location.href="/user/friends/addFriend?friend={{this.username}}"'>add friend</button>
                          <button  class="sbtn" onclick='javascript:document.location.href="/user/dashboard/search?searchUser={{this.username}}"'>view wall</button>  
                        </p>
                      </details>
                        <span onclick="removeRequest('{{this.username}}')" class="close" title="remove request">&times;</span>
                    </div>
                  </a>  
                </div>
                {{/each}}
                {{else}}
                    <div style="position: relative;"><a  href="#">No Request Recieved</a> </div>
                {{/if}} 
             </div>
            </div>
            <div class='dropdown' style='margin:2%'>
             <button  class='addbutton' style="width:auto;">Requests Send</button>
             <div class="dropdown-content" id='drop' style="left:0;padding:1%">
               {{#if requestsSend}}
                {{#each requestsSend}}
                <div style="position: relative;" id='S{{this.username}}'>
                  <a href="#">
                    <div  style='border-bottom:1px solid black'>
                      <details style="color: chocolate">
                        <summary>
                          <div style='' >
                              <div class="user_img" style=' background-image: url("{{this.profilePic}}");height:50px;width:50px;max-height:50px;max-width:50px;'></div>
                              <div style='display:inline-block;'>{{this.username}} </div> 
                          </div>
                        </summary>
                        <p> 
                          <button  class="sbtn" onclick='javascript:document.location.href="/user/dashboard/search?searchUser={{this.username}}"'>view wall</button>  
                        </p>
                      </details>
                        <span onclick="removeRequest('{{this.username}}')" class="close" title="remove request">&times;</span>
                    </div>
                  </a>  
                </div>
                {{/each}}
                {{else}}
                    <div style="position: relative;"><a  href="#">No Request Send</a> </div>
                {{/if}} 
             </div>
            </div>       
     </div>
    <div style='margin:3%'>
        {{#if friendsList}}
          <div style="float:left;">
              <form action="/user/friends/unFriendSelected" onsubmit="return checkForRemoveInput()" method="post">
                <button id='rbutton'>remove friends</button>
                <input type="hidden" style="display:block" name="selectedFriend"  value="" id='unFriend'>
              </form>        
          </div> 
          <br> <br> <br>
          {{#each friendsList}}
            <details style=" border-bottom:1px solid black">
               <summary>
                <input type="checkbox" form='form1' name="{{this.username}}" name="{{this.username}}" value='{{this.username}}' onclick="edit_hiddenInput('{{this.username}}')">
                <div class='friend_info' >
                    <div style='display:inline-block'><div class="user_img" style=' background-image: url("{{this.profilePic}}");'></div><div class='friendname'><strong>{{this.username}}</strong> </div></div>
                </div>
               </summary>
               <p>
                   <button class="sbtn" onclick='document.location.href="/user/chat?searchUser={{this.username}}"'>message</button>
                   <button class="sbtn" onclick='document.location.href="/user/dashboard/search?searchUser={{this.username}}"'>view {{this.username}}</button>
               </p>
               </details>
            {{/each}}
        {{else}}
            You don't have any friends
        {{/if}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src='friendScript.js'> </script>
    <script src="heartbeat.js"></script>
    <script src="time.js"></script>
</body>
</html>