<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>friends list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="friendsCSS.css">
</head>
<body>
     {{>navbar}}
     <div style="margin:1%"> 
         <h3><strong>FRIENDS</strong> </h3>  
           <div class='dropdown' style='margin:2%'>
             <button  class='addbutton' style="width:auto;">Friend's Requests</button>
             <div class="dropdown-content" id='drop' style="left:0;padding:1%">
               {{#if requests}}
                {{#each requests}}
                <a href="#">
                   <div id='{{this.reqSender}}' style='border-bottom:1px solid black'>
                    <details style="color: chocolate">
                       <summary>
                         <div style='' >
                            <div class="user_img" style=' background-image: url("{{this.profilePic}}");height:50px;width:50px;max-height:50px;max-width:50px;'></div>
                            <div style='display:inline-block;'>{{this.reqSender}} </div> 
                         </div>
                       </summary>
                       <p> 
                         <button onclick='javascript:document.location.href="/user/friends/addFriend?friend={{this.reqSender}}"'>add friend</button>
                         <button onclick='javascript:document.location.href="/user/dashboard/search?searchUser={{this.reqSender}}"'>view wall</button>  
                       </p>
                    </details>
                    <span onclick="removeRequest('{{this.reqSender}}')" class="close" title="Close Modal">&times;</span>
                   </div>
                </a>
                {{/each}}
                {{else}}
                    <a  href="#">No request</a> 
                {{/if}} 
             </div>
            </div>       
     </div>
    <div style='margin:3%'>
        {{#if friendsList}}
          <div style='float:left'>
            <form action="/user/friends/createGroup" method="post" onsubmit="return checkForGroupInput()" >
                <button  type="submit">create group</button>
                <input type="hidden" name="selectedFriend"  value="" id='selectedFriend'>
                <input type="hidden" name="groupName" id='groupName'value="">
                <input type="hidden" name="now" id='time'value="">
            </form>
           </div>
          <div style="float:left;margin-left:10vw">
              <form action="/user/friends/unFriendSelected" onsubmit="return checkForRemoveInput()" method="post">
                <button  type="submit">remove friends</button>
                <input type="hidden" name="selectedFriend"  value="" id='unFriend'>
              </form>        
          </div> 
          <br> <br>
          {{#each friendsList}}
            <details>
               <summary>
                <input type="checkbox" form='form1' name="{{this.friend}}" name="{{this.friend}}" value='{{this.friend}}' onclick="edit_hiddenInput('{{this.friend}}')">
                <div class='friend_info' >
                    <div style='display:inline-block'><div class="user_img" style=' background-image: url("{{this.profilePic}}");'></div><div class='friendname'><strong>{{this.friend}}</strong> </div>
                </div></div>
               </summary>
               <p>
                   <button onclick='document.location.href="/user/chat?searchUser={{this.friend}}"'>message</button>
                   <button onclick='document.location.href="/user/dashboard/search?searchUser={{this.friend}}"'>view {{this.friend}}</button>
                   <button  onclick='document.location.href="/user/friend/settings?friend={{this.friend}}"' class='fa fa-gear'></button>
               </p>
               </details>
            {{/each}}
        {{else}}
            You have no friends
        {{/if}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src='friendScript.js'> </script>
</body>
</html>