<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>friends list</title>
    <link rel="stylesheet" href="friendsCSS.css">
</head>
<body>
     {{>navbar}}
     <div style="margin:1%"> 
         <h3><strong>FRIENDS</strong> </h3>  
           <div class='dropdown' style='margin:2%'>
             <button  class='addbutton' style="width:auto;">Friend's Requests</button>
             <div class="dropdown-content" style="left:0;padding:1%">
               {{#if requests}}
                {{#each requests}}
                   <div id='{{this.reqSender}}'>
                    <div style='' onclick='javascript:document.location.href="/user/friends/addFriend?friend={{this.reqSender}}"'>
                       <div class="user_img" style=' background-image: url("{{this.profilePic}}");height:50px;width:50px;max-height:50px;max-width:50px;'></div>
                       <div style='display:inline-block;'><a href="#">{{this.reqSender}}</a> </div> 
                       
                    </div>
                      <span onclick="removeRequest('{{this.reqSender}}')" class="close" title="Close Modal">&times;</span>
                    </div>
                    {{/each}}
                    {{else}}
                    <a  href="#">No request</a> 
                {{/if}} 
             </div>
            </div>       
     </div>
    <div style='margin:3%'>
        {{#if friendsList}}
            {{#each friendsList}}
              <div class='friend_info' onclick="javascript:document.location.href='/user/dashboard/search?searchUser={{this.friend}}'" >
                <div style='display:inline-block'><div class="user_img" style=' background-image: url("{{this.profilePic}}");'></div><div class='friendname'><strong>{{this.friend}}</strong> </div>
               </div></div>
            {{/each}}
        {{else}}
            You have no friends
        {{/if}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script>
        function removeRequest (requester){
            document.getElementById('dropdown-content').parentNode.removeChild(requester)
            axios.post('/user/friends/removeFriendRequest',{viewingUser:requester})
            .then(w=>alert('request removed'))
        }
    </script>
</body>
</html>