<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <style>
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }

      .show {
        padding: 0;
        display: block;
        margin: 0.1% auto;
        max-height: 92%;
        max-width: 99.5%;
        }

                /* Full-width input fields */
        input[type=text] {
        width: 90vw;
        padding: 6px 0px;
        margin-left: 0.3%;
        margin-top:0.2%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }

        #addComment{
            width:6vw;
            border-radius: 30%;
            margin-left:0.2%;
            padding: 6px 0px;
            color:white;
            background-color: rgb(0, 0, 0);
        }
        
        .tagUser{
            color:blue;
            text-decoration: none;
        }
            
       p{
          font-family:monospace;
          font-size: 0.9em;
          display: inline;
          color:black
       }
        @media screen and (max-width: 600px) {
           
           input[type=text] {
                width: 87vw;
            }
            #addComment{
                width:10vw;
                border-radius: 40%;
            }

            #spanBtn{
                text-align: center;
            }    
        }


    </style>
   
</head>
<body>
    {{>navbar}}
    
    
    <img class='show' src="{{imageName}}" />
    <div class="show" style=' background-image: url("{{imageName}}");'>
    </div> <br>
   <div style="margin:0.5%">
        <div style="font-size:1.6em;color:crimson; font-weight:bold;display:inline-block;font-family:Verdana, Geneva, Tahoma, sans-serif;">
            <label style="font-size:0.8em;color:black;display:inline-block;font-family:Georgia, 'Times New Roman', Times, serif">
                {{description}}
            </label> <br>
            <div id='likeBtn' {{#if like}}class='done'{{/if}}> 
                <input type="hidden" value={{like}} id='likeVal'>
                <i id='like'class="fa fa-heart" {{#if like}}style="font-size:30px;color:red;display:inline-block"{{else}}style="font-size:30px;color:red;display:none"{{/if}}></i>
                <i id='unlike'class="fa fa-heart-o" style="font-size:30px;color:black;display:inline-block"></i>
                <p class='count'>{{count}}</p>
            </div>                
        </div> 
        <br>
        <div style='
background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
'>        
            <form action="#" > 
                <input type="text" name="comment" id="comment"  placeholder="add comment as {{viewinguser}}..." >
                <input type="hidden" value='{{imageName}}' id='imageName'>
                <input type="hidden" value='{{userWall}}' id='userWall'>
                <input type="hidden" value='{{viewinguser}}' id='viewinguser'>
                <span id='divBtn'>
                    <button type="button" style='float:right;margin-right:0.41%;font-weight:bolder' id='addComment' >
                        <i class="fa fa-caret-right" style="color:cyan"></i>
                    </button>
                </span>
                
            </form> <br>
            <ul id='comments' style='list-style-type: none;'>
                {{#each comments}}
                <li style="font-family:'Segoe UI';font-size:1.5em;font-weight: 700;color:white;">
                   {{#if this.tagged}}
                    <b>{{this.commentBy}}{{{" "}}}</b> : <a  class='tagUser' href="/user/dashboard/search?searchUser={{this.tagged}}"> @{{this.tagged}}</a> {{this.comment}}
                   {{else}}
                     <b>{{this.commentBy}}</b> :  
                      {{this.comment}}
                   {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
   </div>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  (function (){
      if($('#likeVal').val())
           document.getElementById('unlike').style.display='none'
  })()  
const addComment=$('#addComment')
const comments=$('#comments')

addComment.click((event)=>{
    event.preventDefault()
      let value=$('#comment').val()
      if(value=='' || typeof value==='undefined'){
          alert('nothing to comment.')
          return ;
      }
      const imageName=$('#imageName').val()   
      const userWall=$('#userWall').val()   
      let viewinguser=$('#viewinguser').val()
      let arr=value.split(' ')
      var name=arr[0]
      if(value[0]=='@'){
        name=name.substr(1)
        arr.shift()
        arr.shift()
        value=arr.toString()
        value=value.split(',').join(' ')
        comments.append($(`<li style="font-family:'Segoe UI';font-size:1.5em;font-weight: 700;color:white;"><b>${viewinguser}</b> :<a class='tagUser' href="/user/dashboard/search?searchUser=${name}">@${name}</a> ${value}</li>`))
      }
      else{
        name=false
        comments.append($(`<li style="font-family:'Segoe UI';font-size:1.5em;font-weight: 700;color:white;"><b>${viewinguser}</b> : ${value}</li>`))  
        }
      $('#comment').val('')
      $.ajax({
        url: '/user/wall/viewImage', 
        type: 'POST', 
        contentType: 'application/json', 
        data: JSON.stringify({
            comment:value,
            tagged:name,
            imageName:imageName,
            userWall:userWall,   
        })}
    )

})

comments.click((e)=>{
    const index=e.target.innerText.split(' ')[0]
    if(index[0]!=='@')
    {
        $('#comment').val(`@${index} : `)
    }
})


$("#likeBtn").click(function(e) {
  e.preventDefault()
  imageName=$('#imageName').val()
   let name=$('#viewinguser').val()
    if($("#likeBtn").hasClass('done'))
    {
        $('#likeBtn').removeClass('done')
        document.getElementById('unlike').style.display='inline'
        document.getElementById('like').style.display='none'
         $('.count').text(Number($('.count').text())-1)
         $.ajax({
        url: '/user/wall/viewImage/like', 
        type: 'POST', 
        contentType: 'application/json', 
        data: JSON.stringify({
            unLikedBy:name,
            imageName:imageName,
        })}
        )
    }
    else{
        document.getElementById('unlike').style.display='none'
        document.getElementById('like').style.display='inline'
        $('#likeBtn').addClass(' done')
        $('.count').text(Number($('.count').text())+1)
         $.ajax({
        url: '/user/wall/viewImage/like', 
        type: 'POST', 
        contentType: 'application/json', 
        data: JSON.stringify({
            likedBy:name,
            imageName:imageName,
        })}
        )
    }    

});

</script>   
</body>
</html>