<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>image</title>
  
    <style>
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }

      .show {
        padding: 0;
        display: block;
        margin: 0.1% auto;
        max-height: 92%;
        max-width: 100%;
        }

    </style>
</head>
<body>
    {{>navbar}}
    
    
    <img class='show' src="{{showimage}}" />
    <div class="show" style=' background-image: url("{{showimage}}");'>
    </div>
    <label style='font-size:1em;color:crimson; font-weight:bold;display:block;margin:2%;'>
        {{userWall}}
    </label>
    <label style='font-size:1em;color:black;display:block;margin:2%;'>
         {{description}}
    </label>
    <div>
        <label >comments</label>
        <ul>
            {{#each comments}}
            <li>{{this.commentedBy}} : {{this.comments}}</li>
            {{/each}}
        </ul>
        <form action="/addComment" method="post"> 
            <textarea name="comments" id="comment"  placeholder="add comment..."></textarea><br
            <button type="submit">Add comment :</button>
        </form>
    </div>
</body>
</html>