<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>image</title>
  
    <style>
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }

      .show {
        padding: 0;
        display: block;
        margin: 0.1% auto;
        max-height: 92%;
        max-width: 100%;
        }

                /* Full-width input fields */
        input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }


    </style>

    <script>
        Handlebars.registerHelper('ifCond', function (v1, operator, v2, options) {

    switch (operator) {
        case '==':
            return (v1 == v2) ? options.fn(this) : options.inverse(this);
        case '===':
            return (v1 === v2) ? options.fn(this) : options.inverse(this);
        case '!=':
            return (v1 != v2) ? options.fn(this) : options.inverse(this);
        case '!==':
            return (v1 !== v2) ? options.fn(this) : options.inverse(this);
        case '<':
            return (v1 < v2) ? options.fn(this) : options.inverse(this);
        case '<=':
            return (v1 <= v2) ? options.fn(this) : options.inverse(this);
        case '>':
            return (v1 > v2) ? options.fn(this) : options.inverse(this);
        case '>=':
            return (v1 >= v2) ? options.fn(this) : options.inverse(this);
        case '&&':
            return (v1 && v2) ? options.fn(this) : options.inverse(this);
        case '||':
            return (v1 || v2) ? options.fn(this) : options.inverse(this);
        default:
            return options.inverse(this);
    }
});
    </script>
</head>
<body>
    {{>navbar}}
    
    
    <img class='show' src="{{imageName}}" />
    <div class="show" style=' background-image: url("{{imageName}}");'>
    </div>
   <div style="margin:0.5%">
        <label style='font-size:1em;color:crimson; font-weight:bold;display:block;'>
        {{userWall}} 
        </label>
        <label style='font-size:1em;color:black;display:block;'>
            {{description}}
        </label>
        <div style='backgroundcolor:grey'>        
            <label >comments</label> 
            <form action="/user/wall/viewImage" method="POST"> 
                <input type="text" name="comment" id="comment"  placeholder="add comment as {{viewinguser}}..." >
                <input type="hidden" value='{{imageName}}' name='imageName'>
                <input type="hidden" value='{{userWall}}' name='userWall'>
                 <input type="hidden" value='{{description}}' name='description'>
                <br>
                <button type="submit">Add comment  </button>
            </form>
            <ul>
                {{#each comments}}
                <li>
                    {{#if userwall}}
                    {{#if this.commentBy '==' ../userWall}}
                    <b>{{this.commentBy}}</b> : {{this.comment}}
                    {{/if}}
                    {{else}}
                       {{this.commentBy}} : {{this.comment}}
                    {{/if}}

                </li>
                {{/each}}
            </ul>
        </div>
   </div>
</body>
</html>