<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>image</title>
  
    <style>
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }

      .show {
        padding: 0;
        display: block;
        margin: 0.1% auto;
        max-height: 92%;
        max-width: 99.5%;
        }

                /* Full-width input fields */
        input[type=text] {
        width: 80vw;
        padding: 12px 20px;
        margin-left: 0.3%;
        margin-top:0.2%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }

        #addComment{
            width:13vw;
            margin-left:0.2%;
            padding: 12px;
            color:white;
            background-color: rgb(0, 0, 0);
        }
        
        .tagUser{
            color:blue;
            text-decoration: none;
        }
      
        @media screen and (max-width: 600px) {
            #addComment {
                 width:99vw;                
            }
            input[type=text] {
                width: 99%;
            }
              #spanBtn{
            text-align: center;
        }    
        }


    </style>
   
</head>
<body>
    {{>navbar}}
    
    
    <img class='show' src="../uploads/{{imageName}}" />
    <div class="show" style=' background-image: url("../uploads/{{imageName}}");'>
    </div>
   <div style="margin:0.5%">
        <label style='font-size:1em;color:crimson; font-weight:bold;display:block;'>
        {{userWall}} 
        </label>
        <label style='font-size:1em;color:black;display:block;'>
            {{description}}
        </label> <br>
        <label>COMMENTS :::</label>
        <div style='background-color:#ccc '>        
             
            <form action="#" > 
                <input type="text" name="comment" id="comment"  placeholder="add comment as {{viewinguser}}..." >
                <input type="hidden" value='{{imageName}}' id='imageName'>
                <input type="hidden" value='{{userWall}}' id='userWall'>
                <input type="hidden" value='{{viewinguser}}' id='viewinguser'>
                <span id='divBtn'>
                    <button type="button" style='float:right;margin-right:0.41%;font-weight:bolder' id='addComment' >>></button>
                </span>
                
            </form> <br>
            <ul id='comments' style='list-style-type: none;'>
                {{#each comments}}
                <li style="font-family:'Segoe UI';font-size:1.5em;font-weight: 700;color:white;">
                   {{#if this.tagged}}
                    <b>{{this.commentBy}}{{{" "}}}</b> : <a  class='tagUser' href="/user/dashboard/search?searchUser={{this.tagged}}"> @{{this.tagged}}</a> {{this.comment}}
                   {{else}}
                     <b>{{this.commentBy}}</b> :  
                      {{this.comment}}
                   {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
   </div>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    
const addComment=$('#addComment')
const comments=$('#comments')

addComment.click(()=>{
      let value=$('#comment').val()
      const imageName=$('#imageName').val()   
      const userWall=$('#userWall').val()   
      let viewinguser=$('#viewinguser').val()
      let arr=value.split(' ')
      var name=arr[0]
      if(value[0]=='@'){
        name=name.substr(1)
        arr.shift()
        arr.shift()
        value=arr.toString()
        value=value.split(',').join(' ')
        //console.log('ha',name, arr)
        //console.log('ds',viewinguser) 
        comments.append($(`<li style="font-family:'Segoe UI';font-size:1.5em;font-weight: 700;color:white;"><b>${viewinguser}</b> :<a class='tagUser' href="/user/dashboard/search?searchUser=${name}">@${name}</a> ${value}</li>`))
      }
      else{
        name=false
        comments.append($(`<li style="font-family:'Segoe UI';font-size:1.5em;font-weight: 700;color:white;"><b>${viewinguser}</b> : ${value}</li>`))  
        }
      $('#comment').val('')
      $.ajax({
        url: '/user/wall/viewImage', 
        type: 'POST', 
        contentType: 'application/json', 
        data: JSON.stringify({
            comment:value,
            tagged:name,
            imageName:imageName,
            userWall:userWall,   
        })}
    )

})

comments.click((e)=>{
    const index=e.target.innerText.split(' ')[0]
  //  console.log(index)
    if(index[0]!=='@')
    {
        $('#comment').val(`@${index} : `)
    }
})

</script>   
</body>
</html>