<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>image</title>
  
    <style>
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }

      .show {
        padding: 0;
        display: block;
        margin: 0.1% auto;
        max-height: 92%;
        max-width: 100%;
        }

                /* Full-width input fields */
        input[type=text] {
        width: 86%;
        padding: 12px 20px;
        margin-left: 0.3%;
        margin-top:0.2%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }

        #addComment{
            width:13%;
            margin-left:0.2%;
            padding: 12px;
            background-color: antiquewhite;
        }
        
      
        @media screen and (max-width: 600px) {
            #addComment {
                 width:99%;                
            }
            input[type=text] {
                width: 99%;
            }
              #spanBtn{
            text-align: center;
        }    
        }


    </style>
   
</head>
<body>
    {{>navbar}}
    
    
    <img class='show' src="{{imageName}}" />
    <div class="show" style=' background-image: url("{{imageName}}");'>
    </div>
   <div style="margin:0.5%">
        <label style='font-size:1em;color:crimson; font-weight:bold;display:block;'>
        {{userWall}} 
        </label>
        <label style='font-size:1em;color:black;display:block;'>
            {{description}}
        </label> <br>
        <label>COMMENTS :::</label>
        <div style='background-color:#ccc '>        
             
            <form action="#" > 
                <input type="text" name="comment" id="comment"  placeholder="add comment as {{viewinguser}}..." >
                <input type="hidden" value='{{imageName}}' id='imageName'>
                <input type="hidden" value='{{userWall}}' id='userWall'>
                <input type="hidden" value='{{viewinguser}}' id='viewinguser'>
                <span id='divBtn'>
                    <button type="button" id='addComment'>Add comment  </button>
                </span>
                
            </form> <br>
            <ul id='comments' style='list-style-type: none;'>
                {{#each comments}}
                <li>
                   
                    <b>{{this.commentBy}}</b> : {{this.comment}}
                   
                </li>
                {{/each}}
            </ul>
        </div>
   </div>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="image.js"></script>

</body>
</html>