<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeShare | Settings</title>
    <link rel="stylesheet" href="settings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    {{>navbar}}
    <div class="back" style="background-image:url('/user/image/a.jpg');">
        <h3 style="text-align: center;color:brown">User <p style="display:inline;color:blue">Settings</p></h3>
        <h1 style="text-align: center;black">{{user.username}}</p></h1>
        <input type="hidden" id="username" value="{{user.username}}">
        <h4 style="text-align: center;color:black">{{user.email}}</h4>
    </div>
    
    <div class="menuSet">
        <div class="options" onclick="showAndHide('personal')">personal Info</div>
        <div class="options" onclick="showAndHide('pass')">change password</div>
        <div class="options" onclick="showAndHide('limit')">apply limit lock</div>
        <div class="options" onclick="showAndHide('email')">change email</div>
    </div>
    <div style="margin:2%;border:1px dashed black" >
        <div id="personal" style="display:block;margin:1%">
            <h3>PROFILE</h3>
            <hr>
            <div style="border-bottom:1px solid black;margin:1%">
                <h5>DATE OF ACCOUNT CREATION</h5>
                <h4 id="createdOn">{{user.createdOn}}</h4>
            </div>
            <div style="border-bottom:1px solid black;margin:1%">
                <h5>USERNAME</h5>
                <h4>{{user.username}}</h4>
            </div>
            <div style="border-bottom:1px solid black;margin:1%">
                <h5>PHOTO</h5>
                <div id="image" style='background-image:url("{{user.image}}")'></div>
                <br>
            </div>
            <div style="border-bottom:1px solid black;margin:1%">
                <h5>PASSWORD</h5>
                <h4>{{user.password}}</h4>
            </div>
            <div style="border-bottom:1px solid black;margin:1%">
                <h5>TOTAL ONLINE TIME</h5>
                <h4 id="setTotalTime">{{user.totalTime}}</h4>
            </div>
            <div style="border-bottom:1px solid black;margin:1%">
                <h5>TIME SPENT TODAY</h5>
                <h4 id="setTodayTime">{{user.todayTime}}</h4>
            </div>
            <div style="border:1px solid rgb(247, 27, 27);margin:1%;box-shadow: 2px 2px 2px 2px rgb(158, 54, 50);">
                <h5>DELETE ACCOUNT</h5>
                <button class="sButton" onclick="deleteAccount()">delete account</button> <br> <br>
            </div>
        </div>
        <div id="pass" style="display:none;margin:1%">
            <div>
                <h3>CHANGE PASSWORD</h3>
                <hr>
                <div style="border-bottom:1px solid black">
                    <form action="/user/settings/changePassword" method="post">
                        <label><b>New Password</b></label> <br>
                        <input type="password" name='newPass' id="newPass" required> <br>
                        <label><b>Confirm New Password</b></label> <br>
                        <input type="password" name='cNewPass' id="cNewPass" required> <br>
                        <label><b>Old Password</b></label> <br>
                        <input type="password" name='oldPass' id="oldPass" required> <br> <br> 
                        <div style="text-align: center">
                            <button type="submit" class='sButton'>Change password</button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <div id="limit" style="display:none;margin:1%">
                <h3>APPLY LIMIT TO USAGE</h3>
                <details>
                    <summary>more...</summary>
                    <p>
                        <h5>Social networking sites are very addictive and can cause harm to your other important work and it may also affect your health.
                            So ,now presenting you a bew feature. APP LOCK.
                            you can apply a lock feature to WeShare.com if you find it difficult to manage you daily work.
                            decide the time you want to use your account in a day.
                            If the specified limit exceeds you app will no longer open your account for that day. 
                        </h5> <h5>
                            Considering the fact that you may have some important work and you might have excced your day limit 
                            WeShare.com offers you to restore your account by sending verification mail to your e-mail address.
                        </h5>
                    </p>
                </details>
                
                <hr>
                <div style="border-bottom:1px solid black">
                    <form action="/user/settings/appLock" method="post">
                        <label><b>Daily time Usage</b></label> <br>
                        <input type="time" name='lockTime' id="lockTime" required> 
                        <br> <br>
                        <div style="text-align: center">
                            <button type="submit" class='sButton'>apply lock</button>
                        </div>
                        <br>
                    </form>
                </div>
        </div>
        <div id="email" style="display:none;margin:1%">
              <div>
                <h3>CHANGE EMAIL</h3>
                <hr>
                <div style="border-bottom:1px solid black;margin:1%">
                    <form action="#" method="post">
                        <label><b>New Email Address</b></label> <br>
                        <input type="email" name='newEmail' id="newEmail" required> <br>
                        <label><b>Current Password</b></label> <br>
                        <input type="password" name='password' id="password" required> <br> <br>
                        <div style="text-align: center">
                            <button type="button" class='sButton' onclick="changeEmail()">Change Email Id</button> <br> <br>
                        </div>
                        
                    </form>
                </div>
            </div>  
        </div>
    </div>
    <script src="heartbeat.js"></script>
    <script src="time.js"></script>
    <script>
        function showAndHide(element){
            let ar=["personal","pass","limit","email"]
             k=document.getElementById(element)
             ar=ar.filter(ele=>ele!==element)
            ar.forEach(ele=>{
                document.getElementById(ele).style.display="none"
            })
            document.getElementById(element).style.display="block"
        }
        let lockTime=document.getElementById('lockTime')
        lockTime.addEventListener('input',()=>{
            console.log("in functio chage")
            var isnum=/^d+$/.test(lockTime.value)
            if(isnum){
                alert('enter time')
                lockTime.value=""
            }
        })
        let val=document.getElementById("createdOn")
        let total
        var d = new Date(0); // The 0 there is the key, which sets the date to the epoch
        d.setUTCSeconds(val.innerText);
        val.innerText=d
        $.ajax({
            type: "GET",
            url: "/user/totalTime",
        })
        .then((data) =>{
            totalTimeOnline=data.totalTime
            console.log('total time ',totalTimeOnline)
        })
        setInterval(
            function (){
                const time=Math.floor(localStorage.todayTime/1000+localStorage.sessionTime/1000)
                let qoutientToday=Math.floor(time/60)
                const remainderToday=time%60
                var sec_num = parseInt(time, 10); // don't forget the second param
                
                var hours   = Math.floor(sec_num / 3600);
                var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
                var seconds = sec_num - (hours * 3600) - (minutes * 60);
                
                if (hours   < 10) {hours   = "0"+hours;}
                if (minutes < 10) {minutes = "0"+minutes;}
                if (seconds < 10) {seconds = "0"+seconds;}
                document.getElementById("setTodayTime").innerText=hours+" hrs : "+minutes+" min : "+seconds+" sec"

                const total=Math.floor((totalTimeOnline)/1000+time)
                var sec_numT = parseInt(total, 10); // don't forget the second param
                var daysT   = Math.floor(sec_num / 86400);
                var hoursT   = Math.floor(sec_num / 3600);
                var minutesT = Math.floor((sec_num - (hours * 3600)) / 60);
                var secondsT = sec_num - (hours * 3600) - (minutes * 60);

                if (hoursT   < 10) {hoursT   = "0"+hoursT;}
                if (minutesT < 10) {minutesT = "0"+minutesT;}
                if (secondsT < 10) {secondsT = "0"+secondsT;}
                if(daysT>0)
                {document.getElementById("setTotalTime").innerText=daysT+" days : "+hoursT+" hrs : "+minutesT+" min : "+secondsT+" sec"}
                else{document.getElementById("setTotalTime").innerText=hoursT+" hrs : "+minutesT+" min : "+secondsT+" sec"}
            },1000)

        function deleteAccount(){
            if(confirm("are you sure you want to delete this account. acccount cannot be recovered later...")){
                let pass=prompt("enter your password for verification..")
                $.ajax({
                    type:"POST",
                    url:'/user/deleteAccount',
                    data:{
                        password:pass
                    }
                })
                .then(msg=>{
                    console.log("dgxcgh",msg)
                    alert(msg.message)
                    location.href="/"
                })
            }
        }       

       function changeEmail(){
            if(confirm("are you sure you want to change email address of this account...")){
                $.ajax({
                    type:"POST",
                    url:'/user/settings/changeEmail',
                    data:{
                        password:$("#password").val(),
                        newEmail:$("#newEmail").val()
                    }
                })
                .then(msg=>{
                    alert(msg.message)
                    location.href="/"
                })
            }
        }       
 
    </script>
</body>
</html>