<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{userWall}}'s Wall</title>
     <link rel="stylesheet" href="./wall.css">
</head>
<body>
    {{>navbar}}
    <div class="bg" style=' background-image: url("../uploads/{{wallpic}}");'>
        <div id='profilepicbg' style='background-image:url("../uploads/{{userpic}}")' onclick="document.getElementById('changeProfilePic').style.display='block'">
          </div>
    </div>
     <label class='UserName'>Wall of {{userWall}}</label>
     <div style='justify-content:center'>
       <form action="/user/chat" method="get">
          <input type="hidden" name='searchUser' value='{{userWall}}'>
          <button type="submit" class='sendMsg'>message</button>
        </form>
     </div>
      <ul class="flex-container">
      {{#if imagesArr}}
        {{#each imagesArr}}
          <li class='flex-item'>
            <a href="/user/wall/viewImage?userWall={{../userWall}}&image={{this.image}}&description={{this.description}}">
              <div class='size' style='background-image:url("../uploads/{{this.image}}")'>
                <img src="../null.png" alt="" class='size' style="height:100%; width:100%;">
              </div>
          </a> 
          </li>
        {{/each}}
      {{/if}}    
      </ul>    
</body>
</html>