<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User's Wall</title>
    <link rel="stylesheet" href="wallStyle.css">
</head>
<body>
    {{>navbar}}
    
    <div class="bg" style=' background-image: url("{{userpic}}");'>
        <img src="{{userpic}}" alt="{{user.username}}" id='profilepic'>
    </div>
    <div>
      {{#each images}}
        <div class="card" style="width: 18rem;display:inline-block">
          <img src="{{this}}" class="card-img-top" alt="{{this}}">
          <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      {{/each}}
    </div>
    
</body>
</html>