<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User's Wall</title>
    <link rel="stylesheet" href="wallStyle.css">
</head>
<body>
    {{>navbar}}
    
    <div class="bg" style=' background-image: url("{{userpic}}");'>
        <img src="{{userpic}}" alt="{{userpic}}" id='profilepic'>
    </div>
   {{#if images}}
      <div>
        {{#each images}}
          <div class="card" style="width: 18rem;display:inline-block">
            <img src="{{images.image}}" class="card-img-top" alt="{{images.image}}">
            <div class="card-body">
                <p class="card-text">{{images.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}    
</body>
</html>