<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{{userWall}}'s Wall</title>
  <link rel="stylesheet" href="./wall.css">
</head>
<body>
<!-- partial:index.partial.html -->
{{>navbar}}
 
    <div class="bg" style=' background-image: url("{{wallpic}}");'>
        <img style='margin:1%' src="{{userpic}}" alt="{{userpic}}" id='profilepic'>
    </div>
    <label style='font-size:4em;color:black; font-weight:bold;display:block;text-align:center;'>Wall of {{userWall}}</label>
    <ul class="flex-container">
      {{#if imagesArr}}
        {{#each imagesArr}}
          <li class='flex-item'>
            <a href="./viewImage?userWall={{../userWall}}&image={{this.image}}&description={{this.description}}">
              <div class='size' style='background-image:url("{{this.image}}")'>
                <img src="null.png" alt="" class='size' style="height:100%; width:100%;">
              </div>
          </a> 
          </li>
        {{/each}}
      {{/if}}    
    </ul>
<!-- partial
  <img src="{{this.image}}"alt="{{this.image}}"class='size'>
 -->
  
</body>
</html>