<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{userWall}}'s Wall</title>
    <link rel="stylesheet" href="wallStyle.css">
    <style>
      
  .showimage {
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  img {
    display: block;
    
    width: auto;
    height: auto;
  }
    </style>
</head>
<body>
    {{>navbar}}
    
    <div class="bg" style=' background-image: url("{{userpic}}");'>
        <img src="{{userpic}}" alt="{{userpic}}" id='profilepic'>
        <label >wall of {{userWall}}</label>
    </div>
    {{#if userWall}}
   {{#if imagesArr}}
      <div class='posts' style='align-items:stretch;'> 
        {{#each imagesArr}}
        <a href="./wallviewImage?userWall={{../userWall}}&image={{this.image}}">
          <div class="card" style="width: 18rem;display:inline-flex;object-fit: fill;" >
            <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
            <div class="card-body">
                <p class="card-text" style="color:black">{{this.description}}</p>
            </div>
          </div>
        </a> 
        
        {{/each}}
      </div>
    {{/if}}    
    {{/if}}
</body>
</html>