<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{userWall}}'s Wall</title>
     <link rel="stylesheet" href="./wall.css">
   
</head>
<body>
    {{>navbar}}
    <div class="bg" style=' background-image: url("{{wallpic}}");'>
        <div id='profilepicbg' onclick='document.getElementById(changeProfile).style.display="block"' style='background-image:url("{{userpic}}")' onclick="document.getElementById('changeProfilePic').style.display='block'">
          </div>
    </div>
    <input type="hidden" id='wallUser' value='{{userWall}}'>
     <label class='UserName'>Wall of {{userWall}}</label>
     <div class='btn-container'>
       <div class='btn-item'>
          <form action="/user/chat" method="get" onsubmit="return checkUser('yagnik')" >
            <input type="hidden" name='searchUser' id='searchUser' value='{{userWall}}'>
            <button type="submit" class='sendMsg'>message</button>
          </form>
          <div id='userOptions'>
          {{#if isFriend}}
              <button type="button" class='sendMsg'id='sendReqRemove'>remove friend</button>
              <div id='sendReqAdd'></div>
          {{else}}
              <button type="button" class='sendMsg'id='sendReqAdd'>send request</button>
              <div id='sendReqRemove'></div>
          {{/if}}
          </div>
     </div>
     </div>
     <input type="hidden" value='{{viewingUser}}' id='viewUser'>
      <ul class="flex-container">
      {{#if imagesArr}}
        {{#each imagesArr}}
          <li class='flex-item' style='order:{{@index}}'>
            <a href="/user/wall/viewImage?userWall={{../userWall}}&image={{this.image}}&description={{this.description}}">
              <div class='size' style='background-image:url("{{this.image}}")'>
                <img src="../null.png" alt="" class='size' style="height:100%; width:100%;">
              </div>
          </a> 
          </li>
        {{/each}}
      {{/if}}    
      </ul> 

       <div id="changeProfile" class="addImgModal">
      <form class="modal-content-form animate" action='/user/dashboard/edit' method='POST' id="form" enctype="multipart/form-data"  onsubmit='return uploadPicture("wallImage")'>
        <div class="imgcontainer">
          <span onclick="document.getElementById('changeProfile').style.display='none'" class="close" title="Close Modal">&times;</span>
          <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
          </div>
        </div>
        <div class="containeraddimage">
          <label><b>Select Wall(visible to viewer)</b></label>
          <input type="file" name='wallPic' id="wallImage" required>
          <button type="submit" class='addbutton'>Save Changes</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('changeProfile').style.display='none'" class="addbutton cancelbtn">Cancel</button>
        </div>
      </form>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script>
    function checkUser(user)
       { if(user===this.searchUser.value)
        {
            alert('you want to chat with yourself.😒😒')
            return false
        }
        return true
    }
    var modal = document.getElementById('addimagediv');
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }
    let options=$("#userOptions")
    document.getElementById('sendReqAdd').addEventListener('click',(e)=>{
      const user=document.getElementById('wallUser').value
      if(window.confirm('confirm sending  friend request to '+user))
      {
        aler()
        $('#sendReqAdd').remove()
        $('#sendReqRemove').remove();
        
        axios.post('/user/friends/friendReq',{
          user:user
        })
        .then(as=>options.append($(`
              <button type="button" class='sendMsg'id='sendaReqRemove'>request sent</button>
                <div id='sendReaqAdd'></div>
        `)))
        .then(as=>alert('friend request sent to '+user))
      }
    })

    document.getElementById('sendReqRemove').addEventListener('click',(e)=>{
      const user=document.getElementById('searchUser').value
      if(window.confirm('are you sure to remove '+user+ ' as your friend'))
      {
        $('#sendReqAdd').remove()
      $('#sendReqRemove').remove();
      

      axios.post('/user/friends/removeFriend',{
        user:user
      })
      .then(as=>options.append($(`
            <button type="button" class='sendMsg'id='sendReqAdd'>send request</button>
              <div id='sendReqRemove'></div>
      `)))
      .then(as=>alert(user + ' is no longer your friend'))
      }
    })
  </script>       
</body>
</html>
