<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeShare | {{userWall}}'s Wall</title>
     <link rel="stylesheet" href="./wall.css">
     <script src="removeloading.js"></script>
    <link rel="stylesheet" href="loading.css">
   
</head>
<body>
  {{!-- navbar --}}
  {{>navbar}}

  {{!-- Loding Screen --}}
  <div class="loadingModal" id='loadModal'>
    <div class=" animate"  >
      <span class="loader" id='load_screen'>
        <span class="loader-inner"></span>
      </span>
      <div id='cload' style='color:crimson'>
        <strong>loading </strong>
      </div>
    </div>
  </div>

  <div class="wallBox">

     {{!-- User's Wall Pic box --}}
    <div style="width: 100%;height:80%;" class="wallBox-item">
      <div class="bg" style=' background-image: url("{{wallpic}}");'></div>
    </div> 

    {{!-- profile Box --}}
    <div class="wallBox-item userProfilePic">

      {{!-- profile pic --}}
      <div 
        id='profilepicbg' onclick='document.getElementById(changeProfile).style.display="block"' 
        style='background-image:url("{{userpic}}")' 
        onclick="document.getElementById('changeProfilePic').style.display='block'">
      </div>  
      
      {{!-- user name --}}
      <div class="userWallName">
          {{userWall}}
      </div>
    </div>
    
    {{!-- user options --}}
    <div class="wallBox-item">
      <div>
        HAHA HIHI
      </div>
    </div>
  </div>
  <br><br><br>
    
  <input type="hidden" id='username' value='{{userWall}}'>
  <input type="hidden" id='findinguser' value='{{findinguser}}'>
    <div class='btn-container'>
      <div class='btn-item'>
        <form action="/user/chat" method="get" onsubmit="return checkUser('yagnik')" >
          <input type="hidden" name='searchUser' id='searchUser' value='{{userWall}}'>
          <button type="submit" class='sendMsg'>message</button> <br> <br>
        </form>
        <div id='userOptions'>
          {{#if isFriend}}
            <button type="button" class='sendMsg' id='removeFriend'>remove friend</button> 
            <div id='sendReqAdd'></div><div id='removeReq'></div>
          {{else}}
            {{#if isreqSend}}
              <button type="button" class='sendMsg' id='removeReq'>remove request</button> 
            {{else}}
              <button type="button" class='sendMsg' id='sendReqAdd'>send request</button> 
              <div id='removeFriend'></div><div id='removeReq'></div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>

     <input type="hidden" value='{{viewingUser}}' id='viewUser'>
      <ul class="flex-container">
      {{#if imagesArr}}
        {{#each imagesArr}}
          <li class='flex-item' style='order:{{@index}}'>
            <a href="/user/wall/viewImage?userWall={{../userWall}}&image={{this.image}}&description={{this.description}}">
              <div class='size' style='background-image:url("{{this.image}}")'>
                <img src="../null.png" alt="" class='size' style="height:100%; width:100%;">
              </div>
          </a> 
          </li>
        {{/each}}
      {{/if}}    
      </ul> 

       <div id="changeProfile" class="addImgModal">
      <form class="modal-content-form animate" action='/user/dashboard/edit' method='POST' id="form" enctype="multipart/form-data"  onsubmit='return uploadPicture("wallImage")'>
        <div class="imgcontainer">
          <span onclick="document.getElementById('changeProfile').style.display='none'" class="close" title="Close Modal">&times;</span>
          <div class='avatar' style='background-image:url("{{image}}");display:inline-block;' >
          </div>
        </div>
        <div class="containeraddimage">
          <label><b>Select Wall(visible to viewer)</b></label>
          <input type="file" name='wallPic' id="wallImage" required>
          <button type="submit" class='addbutton'>Save Changes</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('changeProfile').style.display='none'" class="addbutton cancelbtn">Cancel</button>
        </div>
      </form>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script src="heartbeat.js"></script>
  <script src="time.js"></script>
  <script>
    function checkUser(user)
       { if(user===this.searchUser.value)
        {
            alert('you want to chat with yourself.😒😒')
            return false
        }
        return true
    }
    let options=$("#userOptions")

    document.getElementById('sendReqAdd').addEventListener('click',(e)=>{
      if($('#findinguser').val()===$('#username').val()){
          alert('you cannot add yourself as friend..')
          return ;
      }
      const user=$('#username').val()
      const reqSender=$('#findinguser').val()
      if(window.confirm('confirm sending friend request to '+user))
      {
        $('#sendReqAdd').remove()
        $('#removeFriend').remove();
        
        axios.post('/user/friends/friendReq',{
          user:user,
          reqSender:reqSender
        })
        .then(as=>options.append($(`
              <button type="button" class="sendMsg" id="RemoveReq">remove request</button>
                <div id='sendReqAdd'></div>
                <div id='removeFriend'></div>
        `)))
        .then(as=>alert('friend request sent to '+user))
      }
    })


document.getElementById('removeReq').addEventListener('click',(e)=>{
      const requester=$('#findinguser').val()
      const username=$('#username').val()
      if(requester===username){
          alert('you cannot remove yourself as friend..')
          return ;
      }
      if(window.confirm('confirm sending friend request to '+user)){
        $('#removeReq').remove()
        
        axios.post('/user/friends/removeFriendRequest',{
          username:username,
          reqSender:requester
        })
        .then(as=>options.append($(`
              <button type="button" class="sendMsg" id="RemoveReq">remove request</button>
                <div id='sendReqAdd'></div>
                <div id='removeFriend'></div>
        `)))
        .then(as=>alert('friend request sent to '+user))
      }
    })

    document.getElementById('removeFriend').addEventListener('click',(e)=>{
      const user=document.getElementById('searchUser').value
      if(window.confirm('are you sure to remove '+user+ ' as your friend'))
      {
        $('#sendReqAdd').remove()
      $('#removeFriend').remove();
      

      axios.post('/user/friends/removeFriend',{
        user:user
      })
      .then(as=>options.append($(`
            <button type="button" class="sendMsg" id="sendReqAdd">send request</button>
              <div id="removeFriend"></div><div id='removeFriend'></div>
      `)))
      .then(as=>alert(user + ' is no longer your friend'))
      }
    })
  </script>       
</body>
</html>
